@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="btn btn-primary" asp-action="Index" asp-controller="Employee">Employees</a></p>
    <p><a class="btn btn-warning" asp-action="WeeklyAttendance" asp-controller="Employee">WeeklyAttendance</a></p>
</div>
