<div id="customConfirmModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalTitle">Delete Attendance</h2>
        <p id="modalMessage">Are you sure you want to delete this week's attendance?</p>
        <button id="confirmDelete" class="btn btn-danger">Delete</button>
        <button id="cancelDelete" class="btn btn-secondary">Cancel</button>
    </div>
</div>
